@charset "utf-8";

@mixin mobile {
  @media only screen and (max-width : 480px){
    @content;
  }
}

@mixin retina {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

    @content

  }
}

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}
html, body{
  height: 100%;
}

@mixin phone-container-size($ratio: 2){
  $width: 865px;
  $height: 1767px;
  width: $width / $ratio;
  height: $height / $ratio;
  #drawing-canvas{
    $offset-left: 56px;
    $offset-top: 216px;
    $width: 752px;
    $height: 1337px;
    left: $offset-left / $ratio;
    top: $offset-top / $ratio;
    width: $width / $ratio;
    height: $height / $ratio;
  }
}
.phone-container{
  background-image: url('../images/iphone-container.png');
  background-size: 100%;
  position: relative;
  margin: 20px auto;
  #drawing-canvas{
    position: absolute;
  }
  @include phone-container-size();
  @include retina {
    @include phone-container-size(3);
  }
}

#home-button {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 120px;
  top: 525px;
}
