@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
}

.phone-container{
  background-image: url('/images/iphone-container.png');
  width: 288px;
  height: 589px;
  background-size: 100%;
  position: relative;
  margin: 20px;
  #drawing-canvas{
    position: absolute;
    left: 19px;
    top: 72px;
    width:250px;
    height: 445px;
  }
}

#home-button {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 120px;
  top: 530px;
}
